<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account:profile' request.user.id %}">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">Login</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url "home:about" %}">About</a></li>
    </ul>
</nav>