{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block body %}
<main class="auth-container">
    <div class="auth-card">
        <h1 class="auth-title">Password Reset</h1>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email }}
            </div>
            <button type="submit" class="auth-button">Send Reset Email</button>
            <div class="auth-links">
                <a href="{% url 'account:login' %}">Return to Login</a>
            </div>
        </form>
    </div>
</main>
{% endblock %}